<%- include('header') -%>
<%= typeof msg != 'undefined' ? msg : '' %> 

        <form action="/upload" method="POST" enctype="multipart/form-data">
            <div class="file-field input-field">
              <div class="btn grey">
                <span>File</span>
                <input name="myImage" type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
            <button type="submit" class="btn">Submit</button>
           
          </form>
          
          <br>
          
          <h1>Gallerie d'images </h1>
          <div class="gallery">

          <!-- pour chague item dans images afficher :-->
         
           
             <%= content %>
             <ul>
               <%= for(img in imgs) { %>
                <li> <%= (img.content) %></li>
               <%= } %>
             </ul>



           

            
              
        
         
         
          </div>
          

        </div> <!-- Fin du div.main  -->


   <%- include('footer') -%></br>